<div  ng-controller="menuCtrl" class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="assets/AngularJs/img/profile-pics/1.jpg" alt="">
            </div>



            <div class="profile-info">
                Azma
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a data-ui-sref="profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
         
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>
       

<ul class="main-menu">
       <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)">
                <i class="zmdi zmdi-home"></i> Home</a>               
        </li>
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('personnel') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-widgets"></i> Personnel</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="personnel.attendance" data-ng-click="mactrl.sidebarStat($event)">Attendance</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="personnel.overtime" data-ng-click="mactrl.sidebarStat($event)">Overtime</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="personnel.leave-stat" data-ng-click="mactrl.sidebarStat($event)">Leave Statistics</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="personnel.salary-slip" data-ng-click="mactrl.sidebarStat($event)">Salary Slip</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="personnel.history" data-ng-click="mactrl.sidebarStat($event)">History</a></li>
                
            </ul>
        </li>

        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('master') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-book-image"></i> HR Master</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="master.holiday-manager" data-ng-click="mactrl.sidebarStat($event)">Holidays Manager</a></li>

                <li><a data-ui-sref-active="active" data-ui-sref="master.master-leaves" data-ng-click="mactrl.sidebarStat($event)">Leaves</a></li>

                <li><a data-ui-sref-active="active" data-ui-sref="master.master-allowance" data-ng-click="mactrl.sidebarStat($event)">Allowances</a></li>

                <li><a data-ui-sref-active="active" data-ui-sref="master.master-structure" data-ng-click="mactrl.sidebarStat($event)">Structure</a></li>

                <li><a data-ui-sref-active="active" data-ui-sref="master.master-post" data-ng-click="mactrl.sidebarStat($event)">Post List</a></li>

                 <li><a data-ui-sref-active="active" data-ui-sref="master.master-post-class" data-ng-click="mactrl.sidebarStat($event)">Classification</a></li>

                  
            </ul>
        </li>

        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('management') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-collection-text"></i> HR Management</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="management.employee-info" data-ng-click="mactrl.sidebarStat($event)">Employee Information Manager</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="management.leave-request" data-ng-click="mactrl.sidebarStat($event)">Leave Request Approvals</a></li>
           
                <li><a data-ui-sref-active="active" data-ui-sref="management.management-groups-manager" data-ng-click="mactrl.sidebarStat($event)">Employee Groups Manager</a></li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('supervise') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-swap-alt"></i> Supervise</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="supervise.authorise-overtime" data-ng-click="mactrl.sidebarStat($event)">Authorise Overtime</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="supervise.approve-leave-request" data-ng-click="mactrl.sidebarStat($event)">Approve Leave Requests</a></li>       
            </ul>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="payroll" data-ng-click="mactrl.sidebarStat($event)">
                <i class="zmdi zmdi-view-list"></i> Payroll</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="reports" data-ng-click="mactrl.sidebarStat($event)">
                <i class="zmdi zmdi-collection-item"></i> Reports</a>
        </li>
        
    </ul>
</div>
