<div class="container">

<form action="">

	<div class="block-header">
        <h2>Add Employee</h2>

        <ul class="actions">
            <li class="dropdown" uib-dropdown>
                <a class="icon-pop" href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Save</a>
                    </li>
                    <li>
                        <a href="">Cancel</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

	<div class="card">

		<div  class="card-header">

			<h2>Staff Personal Information</h2><br>

		</div>

		<div class="card-body card-padding">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Record Number</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">ID Card No.</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Passport No.</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Name</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Dhivehi Name</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Date of Birth</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Phone</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">

					<label class="radio radio-inline m-r-20">
		                <input type="radio" name="inlineRadioOptions" value="option1">
		                <i class="input-helper"></i>
		                Female
		            </label>

		            <label class="radio radio-inline m-r-20">
		                <input type="radio" name="inlineRadioOptions" value="option2">
		                <i class="input-helper"></i>
		                Male
		            </label>

				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Login</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Bank Name</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Account No.</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Account Transfer</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Permanent Address</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Current Address</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Other</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
                    <p class="f-500 c-black m-b-20">Employee Photo</p>

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-primary btn-file m-r-10">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="...">
                        </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                    </div>
                </div>
				
			</div>

		</div>

	</div>

	<div class="card">

		<div  class="card-header">

			<h2>Designation</h2><br>

		</div>

		<div class="card-body card-padding p-t-0" data-ng-controller="DatepickerDemoCtrl">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Office</label>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Post</label>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Salary</label>
						</div>
					</div>
				</div>
				<div class="col-sm-3">

                    <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
                            <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Assigned Date" />
                        </div>
                    </div>

                </div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Chit Number</label>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="card">

		<div  class="card-header">

			<h2>Group or Division</h2><br>

		</div>

		<div class="card-body card-padding p-t-0" data-ng-controller="DatepickerDemoCtrl">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line">
							<input type="text" class="form-control fg-input">
							<label class="fg-label">Group</label>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
                            <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="From Date" />
                        </div>
                    </div>
				</div>
				<div class="col-sm-4">
					<div class="date-picker input-group" ng-class="{ 'is-opened': opened2 == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                            <input ng-click="open($event, 'opened2')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened2" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="To Date" />
                        </div>
                    </div>
				</div>

			</div>

		</div>

	</div>

	<div class="block-header btn-demo">
		<button type="button" class="btn btn-danger m-t-10 pull-right">Cancel</button>
        <button type="submit" class="btn btn-primary m-t-10 pull-right">Add Employee</button>


    </div>

</form>
</div>