    <div class="card">
        <div  class="card-header">

            <h2>Authorise Overtime</h2>
            <hr>
            <h5>Record Card Number </h5>
            <h5>Supervisor Name </h5>
            <h5>Designation </h5><hr>
            <h5>Select Month/Year </h5>
            <h5>Employee</h5>        
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-6">   
                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="col-sm-6"> 
                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <br>
          
        </div>
        <hr>
        <div class="table-responsive">
            <table  class="table table-striped">
                <thead>
                    <tr>
                     <th>Start Time</th>
                        <th>End Time</th>
                        <th>Duty Time</th>
                        <th>Duration</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Auth</th>
                        <th>Details</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in dates" ng-class="{'off-day': record['duty-time'] == '<< OFF >>'}">
                    
                        
                        <td>{{ emp }}</td>
                        <td>{{ record['duty-time'] }}</td>
                        <td>{{ record.penalty }}</td>
                        <td>{{ record.in[0] || '-' }}</td>
                        <td>{{ record.out[0] || '-' }}</td>
                        <td>{{ record.in[1] || '-' }}</td>
                        <td>{{ record.out[1] || '-' }}</td>
                        <td>{{ record.in[2] || '-' }}</td>
                        <td>{{ record.out[2] || '-' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>
