<div class="container">

    <div class="card">
        <div  class="card-header">

            <h2>Employee Information</h2><hr>
<div class="form-group">
            <div class="fg-line"> 
                <lable><strong>Find personnel in the database by Name, RCN: </strong></lable>
                <div class="input"> <input class="form-control" ng-model="RCN"> </input></div><br>
                <button ng-click ="submitVariables(RCN)" class="btn btn-primary">Submit</button>  

            </div>
        </div>
    </div></div>

    <div class="block-header">
        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Edit</a>
                    </li>
                    <li>
                        <a href="">Delete</a>
                    </li>
                    <li>
                        <a href="">Edit Attendance</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="profile-main" ng-repeat ="user in info">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="assets/angularjs/img/profile-pics/1.jpg" alt="">
                    </a>


                    <a href="" class="pmop-edit">
                        <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
                    </a>
                </div>



            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2 align="center">{{user.Name}}</h2>
            </div>


        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified"></ul>


            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-person m-r-5"></i> Staff Personal Information</h2>
                </div>

                <div class="table-responsive pmbb-view" >
                    <table  class="table table-hover" >

                        <tbody>
                            <tr ng-repeat ="user in info">
                                <th>Record Number:</th>
                                <td>{{user.RCN}}</td>
                                <th>ID Card No.:</th>
                                <td>{{user.IdentityCard}}</td>
                               
                            </tr>
                            <tr>
                                <th>Name:</th>
                                <td>{{user.Name}}</td>
                                <th>Date of Birth:</th>
                                <td>{{user.DOB}}</td>
                            </tr>
                            <tr>
                                <th>Mobile:</th>
                                <td>{{user.MTele}}</td>
                                <th>Gender:</th>
                                <td>{{user.Sex}}</td>
                                
                            </tr>
                            <tr>
                            <th>Login:</th>
                                <td>{{user.logInName}}</td>
                                 <th>Bank Name:</th>
                                <td>{{user.AccBank}}</td>
                            </tr>
                            <tr>
                               
                                <th>Account No:</th>
                                <td>{{user.AccBranch}}-{{user.AccNo}}-{{user.AccType}}</td>
                                <th>Account Transfer:</th>
                                <td>{{user.AccTransfer}}</td>
                            </tr>
                            <tr>
                                <th>Permanent Address:</th>
                                <td>{{user.Paddress}}</td>
                                <th>Current Address:</th>
                                <td>{{user.CAddress}}</td>
                                
                            </tr>
                            <tr>
                            <th>Other:</th>
                                <td>{{}}</td>
                                 <th>Passport No.:</th>
                                <td>{{user.PP_No}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>

    <div class="card">
    <div class="block-header">
        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">New Employment</a>
                    </li>
                    <li>
                        <a href="">Promotion Chit</a>
                    </li>
                    <li>
                        <a href="">Resignation Chit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div  class="card-header">

            <h2>Designation History</h2>

        </div>


        <div class="table-responsive">
            <table  class="table table-striped" >

                <thead>
                    <tr>
                        <th>Office</th>
                        <th>Post</th>
                        <th>Salary</th>
                        <th>Assigned Date</th>
                        <th>Terminated Date</th>
                        <th>Chit Numbers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "office in history | orderBy : 'id'">
                                        <td>{{r}} </td> 
                                        <td> {{office.office}}   </td> 
                                        <td> {{office.post}} {{office.post2}}</td>
                                        <td> {{office.amount| number : 0}}  </td>
                                        <td> {{office.assigned}} </td> 
                                        <td> {{office.terminate}} </td> 
                                        <td> {{office.chit}} </td> 

                                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="card">
    <div class="block-header">
        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">New Allowance Chit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div  class="card-header">

        <h2>Staff Allowance History</h2>

        </div>


        <div class="table-responsive">
            <table  class="table table-striped">

                <thead>
                    <tr>
                        <th>Allowance</th>
                        <th>Amount</th>
                        <th>Assigned Date</th>
                        <th>Terminated Date</th>
                        <th>Chit Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fixed Allowance</td>
                        <td>5000</td>
                        <td>20 Nov 2016</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ferry Allowance</td>
                        <td>300</td>
                        <td>21 Nov 2016</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="card">
    <div class="block-header">
        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Leave Details</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div  class="card-header">

        <h2>Leave Satistics</h2>

        </div>


        <div class="table-responsive">
            <table  class="table table-striped">

                <thead>
                    <tr>
                        <th>Year Start</th>
                        <th>Year End</th>
                        <th>Annual</th>
                        <th>Sick/ Medical</th>
                        <th>Family</th>
                        <th>Half Pay</th>
                        <th>Absent</th>
                        <th>Maternity</th>
                        <th>Paternity</th>
                        <th>Curcumstance</th>
                        <th>No Pay</th>
                        <th>Hajj</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20 Nov 2016</td>
                        <td>20 Nov 2017</td>
                        <td>0/30</td>
                        <td>10/10</td>
                        <td>9/30</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="card">
        <div  class="card-header">

        <h2>Group or Division</h2>

        </div>


        <div class="table-responsive">
            <table  class="table table-striped">

                <thead>
                    <tr>
                        <th>Group</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CD</td>
                        <td>01 Nov 2016</td>
                        <td>01 Mar 2017</td>
                        <td><a href="">Edit</a> | <a href="">Delete</a></td>
                    </tr>
                    <tr>
                        <td>Information Technology</td>
                        <td>01 Mar 2017</td>
                        <td></td>
                        <td><a href="">Edit</a> | <a href="">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        

    </div>

</div>