<div class="card">
       <div  class="card-header">

         <h2>Employee Information</h2><hr>
                     
          <div class="fg-line"> 
            <lable><strong>Find personnel in the database by Name, RCN or Address: </strong></lable>
             <div class="input"> <input class="form-control" ng-model="RCN"> </input></div>
            </div>                        
</div> 


<div class="card-body card-padding">
            <p class="c-black f-500 m-b-5">Staff Personal Information</p>
            <small>Place one add-on or button on either side of an input. You may also place one on both sides of an input.</small>

            <br/><br/>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <span class="input-group-addon"> </span>
                        <div class="fg-line">
                                <label class="form-control" >Name: Azma </label>
                        </div>
                    </div>

                    <br/>

                    <div class="form-group">
                        <span ></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Contact Number">
                        </div>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Email Address">
                        </div>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Home Address">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                                <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-local-phone"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Contact Number">
                        </div>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Email Address">
                        </div>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Home Address">
                        </div>
                    </div>
                </div>

               
            </div>





        