    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Dashboard</h2> <br>                    


            <div class="dash-widgets">
                <div class="row">


                    <div class="col-md-3 col-sm-6">
                        <div id="best-selling" class="dash-widget-item" data-ng-controller="bestsellingCtrl as wctrl" style="height: 430px">
                            <div class="dash-widget-header">
                                <div class="dash-widget-title"></div>
                                <img src="assets/angularjs/img/widgets/hrmaster.jpg" alt="">
                                <div class="main-item">
                                    <small></small>
                                    <h2>HR Master</h2>
                                </div>
                            </div>

                            <div class="listview p-t-5">
                                
                                    <div class="media">
                                    
                                        <div class="media-body">

                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="master.holiday-manager" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Holidays Manager</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="master.holiday-manager" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Leaves</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="master.master-allowance" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Allowances</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="master.master-structure" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Structure</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="master.master-post" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Post List</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="master.master-post-class" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Classification</div></a>
                                        </div>
                                        <br>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="best-selling" class="dash-widget-item" data-ng-controller="bestsellingCtrl as wctrl" style="height: 430px">
                            <div class="dash-widget-header">
                                <div class="dash-widget-title"></div>
                                <img src="assets/angularjs/img/widgets/personnel.jpg" alt="">
                                <div class="main-item">
                                    <small></small>
                                    <h2>Personnel</h2>
                                </div>
                            </div>

                            <div class="listview p-t-5">
                                
                                    <div class="media">
                                    
                                        <div class="media-body">
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="personnel.attendance" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">My Personnel File</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="personnel.attendance" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Attendance</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="personnel.overtime" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Overtime</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="personnel.leave-stat" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Leave Statistics</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="personnel.salary-slip" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Salary Slip</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="personnel.history" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">History</div></a>
                                        </div>
                                        <br>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="best-selling" class="dash-widget-item" data-ng-controller="bestsellingCtrl as wctrl" style="height: 430px">
                            <div class="dash-widget-header">
                                <div class="dash-widget-title"></div>
                                <img src="assets/angularjs/img/widgets/hrmngmnt.jpg" alt="">
                                <div class="main-item">
                                    <small></small>
                                    <h2>HR Management</h2>
                                </div>
                            </div>

                            <div class="listview p-t-5">
                                
                                    <div class="media">
                                    
                                        <div class="media-body">
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="management.employee-info" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Employee Information Manager</div></a>
                                         
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="management.employee-group-manager" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Employee Group Manager</div></a>
                                            <a class="lv-item" data-ui-sref="payroll" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Payroll</div></a>
                                            <br>
                                        </div>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="best-selling" class="dash-widget-item" data-ng-controller="bestsellingCtrl as wctrl" style="height: 430px">
                            <div class="dash-widget-header">
                                <div class="dash-widget-title"></div>
                                <img src="assets/angularjs/img/widgets/supervise.jpg" alt="">
                                <div class="main-item">
                                    <small></small>
                                    <h2>Supervise</h2>
                                </div>
                            </div>

                            <div class="listview p-t-5">
                                
                                    <div class="media">
                                    
                                        <div class="media-body">
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="supervise.authorise-overtime" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Authorise Overtime</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="supervise.approve-leave-request" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Approve Leave Requests</div></a>
                                            <br>
                                        </div>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="best-selling" class="dash-widget-item" data-ng-controller="bestsellingCtrl as wctrl" style="height: 430px">
                            <div class="dash-widget-header">
                                <div class="dash-widget-title"></div>
                                <img src="assets/angularjs/img/widgets/reports.jpg" alt="">
                                <div class="main-item">
                                    <small></small>
                                    <h2>Reports</h2>
                                </div>
                            </div>

                            <div class="listview p-t-5">
                                
                                    <div class="media">
                                    
                                        <div class="media-body">
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="supervise.approve-leave-request" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Daily Attendance</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="supervise.approve-leave-request" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Late and Absent Report</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="supervise.approve-leave-request" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Employee on Leave</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="supervise.approve-leave-request" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Attendance Statistics</div></a>
                                            <a class="lv-item" data-ui-sref-active="active" data-ui-sref="supervise.approve-leave-request" data-ng-click="mactrl.sidebarStat($event)"><div class="lv-title">Monthly Statistics</div></a>
                                            <br>
                                        </div>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>


                    

                  
            </div> 

            
               
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

