
            <div class="block-header">
                <h2>Welcome to CMDA 33333</h2><br>     
                               
                  

                <div class="col-sm-6">
                    <!-- Calendar -->
                    <!--<div id="calendar-widget" data-full-calendar></div>-->

                    

                        <div class="card-body">
                            <div class="listview">

                                <a class="lv-item" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="lv-img-sm" data-ng-src="img/profile-pics/{{ w.img }}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title">{{ w.user }}</div>
                                            <small class="lv-small">{{ w.text }}</small>
                                        </div>
                                    </div>
                                </a>

                                <div class="clearfix"></div>

                                <a class="lv-footer" href=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

