
    <div class="card">
        <div class="card-header">
            <h2>Attendance <small>Select the month and the year.</small></h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-6">   
                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select class="form-control">
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                  

                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select class="form-control" enabled>
                                    <option>2017</option>
                                    <option>2016</option>
                                    <option>2015</option>
                                    <option>2014</option>
                                    <option>2013</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-primary">Submit</button>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Late Fine</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>In</th>
                        <th>Out</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mon</td>
                        <td>12:30</td>
                        <td>07:55</td>
                        <td>@hollway</td>
                        <td>Cheese</td>
                        <td>@hollway</td>
                        <td>Cheese</td>
                        <td>@hollway</td>
                        <td>Cheese</td>
                        <td>somehtign</td>
                    </tr>
                    <tr>
                        <td>Mon</td>
                        <td>12:30</td>
                        <td>07:55</td>
                        <td>@hollway</td>
                        <td>Cheese</td>
                        <td>@hollway</td>
                        <td>Cheese</td><td>@hollway</td>
                        <td>Cheese</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sebastian</td>
                        <td>Johnston</td>
                        <td>@sebastian</td>
                        <td>Jaycee</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mitchell</td>
                        <td>Christin</td>
                        <td>@mitchell4u</td>
                        <td>AdskiDeAnus</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Elizabeth</td>
                        <td>Belkitt</td>
                        <td>@belkitt</td>
                        <td>Goat</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Benjamin</td>
                        <td>Parnell</td>
                        <td>@wayne234</td>
                        <td>Pokie</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Katherine</td>
                        <td>Buckland</td>
                        <td>@anitabelle</td>
                        <td>Wokie</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Nicholas</td>
                        <td>Walmart</td>
                        <td>@mwalmart</td>
                        <td>Spike</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>
      