    <div class="card">
        <div  class="card-header">

            <h2>Attendance </h2>
        
        </div>

        <div class="card-body card-padding">
<!--             <div class="row">
               <div class="col-sm-3"> 
                    <div class="form-group">
                        <div class="fg-line"> <lable><strong>Enter Record Card Number:</strong>  </lable>
                            <div class="input"> <input class="form-control" ng-model="RCN"> </input>  
                            </div>
                        </div>
                    </div> 
                </div>
            </div> -->

                <div class="col-sm-3">   
                    <div class="form-group">
                        <div class="fg-line"><lable> <strong> Month: </strong></lable>
                            <div class="select"> 
                                <select ng-change="loadValues()" class="form-control" ng-model="currMonth" ng-options="month as month for month in months">                       
                      
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="col-sm-3"> 
                    <div class="form-group">
                        <div class="fg-line"><lable> <strong>Year : </strong></lable>
                            <div class="select">
                                <select ng-change="loadValues()" class="form-control" ng-model="currYear" name ="currYear" ng-options="year as year for year in years"> </select>  
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <br><br> <br>
 
<div class="col-sm-2">                     

           <button ng-click ="submitVariables()" class="btn btn-primary">Submit</button>  <br>

      </div>
        <br>
        <hr>
        <div class="table-responsive">
            <table  class="table table-striped">
                <thead>
                    <tr>
                     <th>Date</th>
                        <th>Duty Time</th>
                        <th>Penalty</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>In</th>
                        <th>Out</th>
                    </tr>
                </thead>

                <tbody id="tableBody">
                   <tr ng-repeat = "att in attendance">                   
                     
                        <td>{{att.date}}</td>
                        <td>{{att.dutyStart}}-{{att.dutyEnd}}</td>
                        <td></td>
                        <td>{{ att.Log[0].Signing_DT | date:'hh:mm:ss a'}}</td>
                        <td>{{ att.Log[1].Signing_DT}}</td>
                         <td>{{ att.Log[2].Signing_DT}}</td>
                        <td>{{ att.Log[3].Signing_DT}}</td>
                         <td>{{ att.Log[4].Signing_DT}}</td>
                        <td>{{ att.Log[5].Signing_DT}}</td>
                    </tr> 
               
                  

                </tbody>
            </table>
        </div>
    </div>

    </div>

