<div ng-repeat="emp in staff" class="container">

    <div class="block-header">
        <h2>{{emp.Name}}<small>{{emp.Post}}</small></h2>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="profile-main" data-ng-controller="profileCtrl as pctrl">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div ng-repeat="pic in staff"class="p-relative">
                    <a href="">
                        <img class="img-responsive" ng-src={{pic.PhotoN}}>
                    </a>

                    <div class="dropdown pmop-message" uib-dropdown>
                        

                        <div class="dropdown-menu stop-propagate">
                           

                            
                        </div>
                    </div>

                </div>


                <div class="pmo-stat">
                    <h2 class="m-0 c-white">{{emp.RCN}}</h2>
                    
                </div>
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contact</h2>

                <ul>
                    <li><i class="zmdi zmdi-phone"></i> {{ emp.MTele }}</li>
                    <li><i class="zmdi zmdi-email"></i> {{ emp.Email }}</li>
                                    
                    <li>
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0">
                            {{ emp.CAddress }} <br/>
                           
                        </address>
                    </li>
                </ul>
            </div>

            <div class="pmo-block pmo-items hidden-xs">
               
                <div class="pmob-body">
                    <div class="row">
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'assets/AngularJs/template/profile-menu.html'"></ul>

            <data ui-view></data>
        </div>
    </div>
</div>
