<div class="pmb-block"> 

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>

        <ul class="actions" data-ng-if="pctrl.editInfo === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div  class="pmbb-body p-l-30">
        <div ng-repeat="emp in staff"class="pmbb-view" data-ng-if="pctrl.editInfo === 0">
        <dl class="dl-horizontal">
                <dt>Record Card Number</dt>
                <dd> {{emp.RCN}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Full Name</dt>
                <dd> {{emp.Name}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Gender</dt>
                <dd>{{ emp.Sex  }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Birthday</dt>
                <dd>{{ emp.DOB }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Bank Account Number</dt>
                <dd>{{ emp.AccBranch }}  {{ emp.AccNo }}  {{ emp.AccType }}</dd>
            </dl>    <dl class="dl-horizontal">
                <dt>Permanent Address</dt>
                <dd>{{ emp.Paddress }}, {{emp.Atoll}} , {{emp.island}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Current Address</dt>
                <dd>{{ emp.CAddress }}</dd>
            </dl>
        </div>
        
    </div>
</div>


<div   class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>

        <ul class="actions" data-ng-if="pctrl.editContact === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editContact = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div ng-repeat="cont in staff"class="pmbb-view" data-ng-if="pctrl.editContact === 0">
            <dl class="dl-horizontal">
                <dt>Mobile Phone</dt>
                <dd>{{cont.MTele }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email Address</dt>
                <dd>{{ cont.Email }}</dd>
            </dl>
        
        </div
        
    </div>
</div>
